@import "/src/variables.scss";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

.shrink-0 {
  flex-shrink: 0 !important;
}

.alert-link {
  cursor: pointer;
}

.legend-icon {
  height: 16px;
  width: 16px;
}

@include media-breakpoint-up(lg) {
  .legend-row {
    flex-wrap: nowrap;
    max-height: calc(100% - ((38px + 0.5rem) * 2));
    .card {
      max-height: 100%;
    }
  }
}

.list-group-forecast-item {
  cursor: pointer;

  .ng-fa-icon {
    color: #333;
  }

  &:hover {
    background-color: $primary;

    .forecast-title {
      color: $white;
    }

    .forecast-icon {
      color: $white;
    }
  }

  &.forecast-no-series {
    * {
      color: #ccc !important;
    }
    svg {
      * {
        stroke: #ccc;
        fill: #ccc;
      }
    }
  }
}

.card-header-datasource {
  border-color: $secondary;

  &:hover {
    background-color: $primary;

    .datasource-title {
      color: $white;
    }
  }

  &.datasource-disabled {
    .datasource-title {
      color: #ccc;
    }
  }
}

// @include media-breakpoint-up(xl) {
.list-group-models {
  overflow-y: auto;
}

.list-group-shifted {
  min-height: 150px;
}
// }

.label-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.label-text-with-icon {
  @extend .label-text;

  max-width: calc(100% - 16px);
}

.col-form-label {
  flex-shrink: 1;
  max-width: calc(100% - 227px);
}

.settings-form-group {
  margin-bottom: 0.5rem;
}
